.main_canvas {
  height: 768px;
  width: 768px;
  position: relative;
  background-color: green;
}

.creature {
  border-radius: 50%;
  background-color: lightgrey;
  position: absolute;
  width: 20px;
  height: 20px;
}

.food {
  border-radius: 50%;
  background-color: yellow;
  position: absolute;
  width: 15px;
  height: 15px;
}

.highlight_creature {
  border-radius: 50%;
  border: 1px solid red;
  position: absolute;
}
