<div class="main_canvas">

  <div
    class="highlight_creature"
    [ngStyle]="{'width':(simulationVMS.chosenCreature | async).pixelsVision+'px',
    'height':(simulationVMS.chosenCreature | async).pixelsVision+'px',
    'top':(simulationVMS.chosenCreature | async)?.position?.y+'px',
    'left':(simulationVMS.chosenCreature | async)?.position?.x+'px'}"
    *ngIf="(simulationVMS.chosenCreature | async)">
    &nbsp;
  </div>
  <div class="creature"
       (click)="simulationVMS.onCreatureSelected(creature)"
       [ngStyle]="{'top':creature?.position?.y+'px','left':creature?.position?.x+'px','background-color':creature === (simulationVMS.chosenCreature | async)?
       'black':'lightgrey'}"
       *ngFor="let creature of (simulationVMS.creatures | async)">
    &nbsp;
  </div>

  <div class="food"
       [ngStyle]="{'top':singleFood?.position?.y+'px','left':singleFood?.position?.x+'px'}"
       *ngFor="let singleFood of (simulationVMS.food | async)">
    &nbsp;
  </div>

</div>
